@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');

:root {
  --spoti-green: #1db954;
  --ad-yellow: #BDA12D;
  --ad-blue: #1A1FBD;
  --ad-red: #BA231E;
  --ad-light-background: #A9BDA2;
  --ad-dark-background: #56425d;
  --ad-darker-background: #4C4569;
}

body {
  margin: 0;
  font-family: 'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none !important;
}
